body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0 auto !important;
    padding-bottom: 3%;
    background-color: white;
}

.nav-wrap {
    font-size: 16px;
    width: 100% !important;
    padding: 1% 2% 1% 2%;
    position: fixed;
    z-index: 10000;
    text-decoration: underline;
    background-color: white;
    color: #1e1725;
    box-shadow: 0 4px 6px -6px #222;
    div {
        .logo {
            padding: 8% 2% 0 2%;
            width: 90% !important;
            @media (max-width: $screen-sm-max) {
                width: 55% !important;
            }
        }
        .logo:hover {
            animation: grow 0.5s ease;
            @media (max-width: $screen-sm-max) {
                animation: none;
            }
        }
        a.tab {
            padding-top: 2%;
            @media (max-width: $screen-sm-max) {
                padding-top: 0;
            }
        }
        a {
            text-decoration: none;
            color: #1e1725;
            transition: font-size 0.2s;
            cursor: pointer;
        }
        a:hover {
            color: #320d51;
            font-size: 18px;
        }
    }
}

.mobile-top {
    padding-top: 30%;
}

#about {
    width: 90%;
    padding-top: 5%;
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
        padding-top: 15%;
    }

    img {
        border: black 1px solid;
    }
}

#clients {
    width: 90%;
    padding-top: 10%;
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
        padding-top: 15%;
    }

    .image-wrap {
        img {
            width: 80%;
        }
    }
}

#powerlifting {
    width: 90%;
    padding-top: 10%;
    margin: 0 auto;
    @media (max-width: $screen-sm-max) {
        padding-top: 15%;
    }
}

#insta {
    padding-top: 10%;
    @media (max-width: $screen-sm-max) {
        padding-top: 15%;
    }
}


.icons {
    float: right;
    width: 30%;
    margin-right: 30%;
}

.copy {
    margin: 0% 5% 5% 25%;
    padding: 3%;
}

.section-head-img {
    margin-top: 4%;
}

img {
    margin: 0 auto;
    width: 100%;
}

.footer-wrap {
    background-color: #1e1725;
    padding: 5%;

    .footer-category {
        color: white;
    }

    .social {
        padding-top: 5%;
        width: 8%;
        color: #b6116d;
    }

}


.legal {
    font-size: 11px;
    font-family: 'Arimo', sans-serif;
    margin-top: 1%;
    @media (max-width: $screen-md-min) {
        font-size: 9px;
    }
}

@keyframes grow {
    to {width: 91%;}
}
