// From LESS file
//@import (reference) "./base-ctx";
//@import (reference) "./type-ctx";

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            		8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  		5px;

//** Default background color used for all tables.
$table-bg-color:                      	transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               		#f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover:                		#f5f5f5;
$table-bg-active:               		#f9f9f9;

//** Border color for table and cell borders.
$table-border-color:            		#ddd;


//** Maybe put this in a separate file? **//
$line-height: 							110%;
$line-height-computed:					$line-height;