//  ========= IMAGES STUFF ========= //
//  global style

img {
    vertical-align:             middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive,
.img-full-responsive,
.img-responsive-c {
    @include img-responsive-mx();
}

.img-full-responsive {
    width:                      100%;
}

.img-responsive-c {
    margin:                     0 auto;
}