.slide-row{
    display: block;
    width: 17%;
    margin: 0 1.5% 1%;
    float: left;


    img{
        max-width: 100%;
        display: block;
        margin: auto;
    }

    span{
        display: block;
        background-color: $white;

        text-align: center;
        padding: 20px 0 0;
        height: 80px;

    }

}

.slider-responsive{

}

.slick-arrow{
    position: absolute;
    font-size: 2em !important;
    font-weight: 700;
    top: 33.33%;
    &.fa-angle-right{ right: -10px;}
    &.fa-angle-left{ left: -10px;}
}
